<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Zip Codes</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item"><a>Zip Codes</a>
        </li>
        <li class="breadcrumb-item"><a style="color: #7BBFC2; cursor: pointer;" (click)="setDiscount(discountModal)">Rabatt einstellen</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content-body">
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Zip Codes</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                  <label for="">Search Zip Codes.</label>
                  <input type="text" class="form-control" [(ngModel)]="food.code" placeholder="Search Zip Codes..."
                    style="max-width: 300px">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                  <fieldset>
                    <label for="enter">Zip hinzufügen:</label>
                    <button style="margin-top: 5px;" class="btn btn-primary btn-block"
                      (click)="addZipCodes(zipcodeModal)">Hinzufügen</button>
                  </fieldset>
                </div>
              </div>
              <br>
              <br> <br>
              <br>
              <app-spinner *ngIf="showSpinner"></app-spinner>
              <div class="table-responsive" *ngIf="!showSpinner">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Postleitzahl eingeben</th>
                      <th>Bereich</th>
                      <th>Preis</th>
                      <th>Minimum Order</th>
                      <th>Aktionen</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of zips | filterBy: food | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td class="small">{{item.code}}</td>
                      <td class="small">{{item.area}}</td>
                      <td class="small">{{item.rate}} &euro;</td>
                      <td class="small">{{item.minOrder}} &euro;
                      </td>
                      <td class="small">
                        <a (click)="view(zipcodeModal, zips[i])">Edit<i style="color: green;" class="ft-edit"></i></a>
                        <br>

                        <a (click)="delete(item)">Klar<i style="color: red" class="ft-trash-2"></i></a>
                      </td>

                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="pageNumber = $event" previousLabel="Previous" nextLabel="Next"
                  responsive="true" autoHide="true" directionLinks="false"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<ng-template #zipcodeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">ZIP CODES</h4>
    <button type="button" class="close" aria-label="Close" style="outline: none;"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="zip code">Postleitzahl eingeben:</label>
            <input type="number" id="title" [(ngModel)]="data.code" class="form-control" placeholder="Postleitzahl eingeben">
          </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="area">Bereich:</label>
            <input type="text" id="title" [(ngModel)]="data.area" class="form-control" placeholder="Zip Bereichsname">
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="title">Gebühren:</label>
            <input type="number" id="title" [(ngModel)]="data.rate" class="form-control" placeholder="Versandkosten"
              value="Normal">
          </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="MIn-Order">Minimum Order:</label>
            <input type="number" id="title" [(ngModel)]="data.minOrder" class="form-control" placeholder="Mindestauftragsgröße">
          </fieldset>
        </div>
      </div>

      <br>
      <div class="row" *ngIf="!openforedit">
        <button type="button" class="btn btn-secondary btn-min-width ml-2 mb-1" (click)="addToZips()">Hinzufügen</button>
      </div>
      <div class="row" *ngIf="openforedit">
        <button type="button" class="btn btn-secondary btn-min-width ml-2 mb-1" (click)="update()">Aktualisieren</button>
      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">schließen</button>
  </div>
</ng-template>


<ng-template #discountModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rabatt ändern</h4>
    <button type="button" class="close" aria-label="Close" style="outline: none;"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="zip code">Rabatt Prozent:</label>
            <input type="number" id="title" [(ngModel)]="discount.amount" class="form-control" placeholder="Geben Sie den Rabatt in Prozent ein">
          </fieldset>
        </div>
      </div>

      <div class="row"  >
        <button type="button" class="btn btn-secondary btn-min-width ml-2 mb-1" (click)="updateDiscount()">Aktualisieren</button>
      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">schließen</button>
  </div>
</ng-template>