<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-1">
    <h3 class="content-header-title">Pizza Panel</h3>
  </div>
  <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
        </li>

        <li class="breadcrumb-item">
          <a>Pizza</a> </li>

        <li class="breadcrumb-item">
          <a routerLink="/dashboard/pizza-extras">Pizza Extras</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="content-body">
  <section class="basic-elements">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Pizza</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                  <label for="">Suche Pizza.</label>
                  <input type="text" class="form-control" [(ngModel)]="food.title" placeholder="Suche Pizza..."
                    style="max-width: 300px">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                  <fieldset>
                    <label for="enter">Hinzufügen Pizza:</label>
                    <button style="margin-top: 5px;" class="btn btn-primary btn-block"
                      (click)="addPizza(addpizzas)">Hinzufügen</button>
                  </fieldset>
                </div>
              </div>
              <br>
              <br>
              <app-spinner *ngIf="showSpinner"></app-spinner>
              <div class="table-responsive" *ngIf="!showSpinner">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>
                        <!-- Title -->
                        Titel
                      </th>
                      <th>
                        <!-- Ingredients -->
                        Zutaten
                      </th>
                      <th>
                        Information
                      </th>
                      <th>
                        Größe
                      </th>
                      <th>
                        <!-- Price -->
                        Preis
                      </th>
                      <th>
                        <!-- Actions -->
                        Aktionen
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of pizza | filterBy: food | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td class="small">{{item?.title}}</td>
                      <td class="small">{{item?.ingredients}}</td>
                      <td class="small">{{item?.info}}</td>
                      <td class="small">
                        <ul style="list-style: none;">
                          <li *ngFor="let si of item.size" style="margin-left: -35px;">{{si}}</li>
                        </ul>
                      </td>
                      <td class="small">
                        <ul style="list-style: none;">
                          <li *ngFor="let si of item.price" style="margin-left: -35px;">{{si}} &euro;</li>
                        </ul>
                      </td>
                      <td class="small">
                        <a (click)="view(addpizzas, item)">Edit<i style="color: green;" class="ft-edit"></i></a>
                        <br>

                        <a (click)="delete(item)">
                          <!-- Delete -->
                          Klar
                          <i style="color: red" class="ft-trash-2"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="pageNumber = $event" previousLabel="Previous" nextLabel="Next"
                  responsive="true" autoHide="true" directionLinks="false"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<ng-template #addpizzas let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hinzufügen Pizza</h4>
    <button type="button" class="close" aria-label="Close" style="outline: none;"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-body">

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="title">
              <!-- Title -->
              Titel:
            </label>
            <input type="text" id="title" [(ngModel)]="data.title" class="form-control" placeholder="Titel">
          </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="ingredients">
              <!-- Ingredients: -->
              Zutaten
            </label>
            <input type="text" id="title" [(ngModel)]="data.ingredients" class="form-control" placeholder="Zutaten">
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="size">
              <!-- Size -->
              Größe:
            </label>
            <h2 id="title">Normal: <small>(36 cm)</small></h2>
          </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="price">Preis:</label>
            <input type="number" id="title" [(ngModel)]="data.price[0]" class="form-control" placeholder="Preis">
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="Size">Größe:</label>
            <h2 id="title">Familia: <small>(50 cm)</small></h2>
          </fieldset>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
          <fieldset>
            <label for="price"> Preis:</label>
            <input type="number" id="title" [(ngModel)]="data.price[1]" class="form-control" placeholder="Preis">
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg- col-md-12 mb-1">
          <fieldset>
            <label for="Information">Information:</label>
            <input type="text" id="title" [(ngModel)]="data.info" class="form-control" placeholder="Information">
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 mb-1" id="imgDiv">
          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset>
              <label for="thumbnail">
                <!-- Thumbnail -->
                Bild:
              </label>
              <img src="{{data?.imageURL || image}}" alt="User Image" id="thumbnail">
              <br>
            </fieldset>
            <fieldset id="browse" *ngIf="!viewSong">
              <label class="custom-file-label" for="upload">
                 <!-- Choose an Image -->
                 Wähle ein Bild
              </label>
              <input type="file" class="custom-file-input" id="upload" (change)="upload($event)" accept=".png,.jpg">
            </fieldset>
          </div>
          <ngx-ui-loader></ngx-ui-loader>
        </div>
      </div>

      <br>
      <div class="row" *ngIf="!openforedit">
        <button type="button" class="btn btn-secondary btn-min-width ml-2 mb-1" (click)="addToPizza()">
          <!-- Add -->
          Hinzufügen
        </button>
      </div>
      <div class="row" *ngIf="openforedit">
        <button type="button" class="btn btn-secondary btn-min-width ml-2 mb-1" (click)="updatePizza()">
          <!-- Update -->
          Aktualisieren
        </button>
      </div>


    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
      <!-- close -->
      schließen
    </button>
  </div>
</ng-template>